/*
    Author: Tuan Arif Uwais;
    Theme : KL Tour Website Admin;
    Version: 1.0;

*/
*
{
   margin:0;
   padding:0;
   font-family: 'Roboto', sans-serif;
}

.wrapper
{
    display: grid;
    padding: 1%;
    width: 80%;
    margin:0 auto;
    grid-template-columns: auto auto auto;
}

.text-center
{
    text-align: center;
}

.clearfix
{
    float:none;
    clear:both;
}

/* CSS for Tour Package */

header ul
{
    list-style-type: none;

}

header ul li
{
    display: inline-block;
    padding:1%;
}

header ul li a
{
    text-decoration: none;
    font-weight:bold;
    color:#f19066;
}

header ul li a:hover
{

    color:#63cdda;
}

/* CSS for Main Content */
.main-content
{
    background-color: #dddddd;
    margin: 0 auto;
    padding: 1% 0;
    text-align: center;
}

.main-content h1
{
    padding: 1em;
}

.main-content p
{
    margin: 1em;
    padding: 1em 1em;
}


.col-4
{
    background-color: white;
    
    margin:1%;
    padding:15%;
}

/* Table and Buttons */
.tbl-full
{
    padding: 5em 10em;
    width:100%;
    text-align: left;
}

table tr th
{
    border-bottom: 1px solid black;
    padding: 1%;
    
}

table tr td
{
    padding: 2em;
}

.success
{
    margin-top: 2em;
    color: green;
}

.error
{
    margin-top: 2em;
    color: red;
}

form
{
    text-align: left;
    display: inline-block;
}


.btn-primary
{
    background-color: #1e90ff;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}

.btn-primary:hover
{
    background-color: #3742fa;
}

.btn-secondary
{
    background-color: #7bed9f;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.btn-secondary:hover
{
    background-color: #2ed573;
}

.btn-danger
{
    background-color: #ff6b81;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-danger:hover
{
    background-color: #ff4757;
}

/* CSS for Footer */

footer
{
    padding: 1%;
    text-align: center;
    background-color:#e15f41;
    color: white;
}
footer p
{
    padding: 0.5em;
}

/*CSS for Login Page*/
.login
{
    width:30%;
    border: 1px solid gray;
    margin: 15% auto;
    padding: 2%;
}

.login h1, .login p
{
    padding: 1em;
}

.login-success
{
    padding-bottom: 1em;
    text-align: center;
}

.login-failed
{
    padding-bottom: 1em; 
    text-align: center;
}